<button class="btn ad-btn-display1" matTooltip="Click To Refresh Grid" id="add" style="margin-left: auto !important;" (click)="LoadGrid()">
    <mat-icon>refresh</mat-icon>
</button>

<div class="mt-3">
  <ag-grid-angular style="width: 100%; height: calc(100vh - 155px);" class="ag-theme-alpine"
    [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)" [animateRows]="true"
    (rowClicked)='onGridRowClicked($event)' [pagination]="true" [overlayLoadingTemplate]="loadingTemplate"
    [overlayNoRowsTemplate]="noRowsTemplate">
  </ag-grid-angular>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#934d4d" type="none">
  <div class="la-ball-scale-ripple-multiple la-2x">
      <div></div>
      <div></div>
      <div></div>
  </div>
</ngx-spinner>