<div class="filt-row" id="addcontrol" style="display: none;">
  <div class="col-md-2 dol-input">
    <mat-form-field appearance="outline" ngDefaultControl>
      <mat-label>Code</mat-label>
      <input id="code" matInput name="nm" [(ngModel)]="CODE" (change)="CheckCode();"
        (ngModelChange)="CODE = $event.toUpperCase()">
    </mat-form-field>
  </div>
  <div class="col-md-3 dol-input">
    <mat-form-field appearance="outline" ngDefaultControl>
      <mat-label>Name</mat-label>
      <input matInput name="nm" [(ngModel)]="NAME" (ngModelChange)="NAME = $event.toUpperCase()">
    </mat-form-field>
  </div>
  <div class="col-md-3 dol-input">
    <mat-form-field appearance="outline">
      <mat-label>Material</mat-label>
      <mat-select [(ngModel)]="materl" [formControl]="Material" multiple disableOptionCentering>
        <mat-optgroup *ngFor="let group of MaterialList">
          <mat-checkbox [checked]="group.selected" (change)="toggleSelection($event, group)"
            (click)="$event.stopPropagation()">
            <span class="fillby"><b>{{group.key}}</b></span>
          </mat-checkbox>
          <mat-option name="nm" *ngFor="let item of group.values" [value]="item.M_Code">
            {{item.M_Name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-2 dol-input">
    <mat-checkbox *ngIf="CHECK" class="example-margin" [(ngModel)]="chkIsActive">Is Active?</mat-checkbox>
  </div>
  <div class="flt-btn-group">
    <button class="btn filt-btn" matTooltip="Back To List" (click)="List()">
      <mat-icon>list</mat-icon>
    </button>
    <button class="btn filt-btn" matTooltip="SAVE" (click)="Save()">
      <mat-icon>save</mat-icon>
    </button>
    <button class="btn filt-btn" matTooltip="CLEAR" (click)="Clear()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
<button *ngIf="NEWADD" class="btn ad-btn-display" id="add" matTooltip="ADD" (click)="add()">
  <mat-icon>add</mat-icon>
</button>
<div id="grid" class="container">
  <div class="row">
    <ag-grid-angular style="width: 100%; height: calc(100vh - 230px);" class="ag-theme-alpine"
      [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)"
      (rowClicked)='onGridRowClicked($event)' [animateRows]="true" [pagination]="true"
      [overlayLoadingTemplate]="loadingTemplate" [overlayNoRowsTemplate]="noRowsTemplate">
    </ag-grid-angular>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#934d4d" type="none">
  <div class="la-ball-scale-ripple-multiple la-2x">
    <div></div>
    <div></div>
    <div></div>
  </div>
</ngx-spinner>
