.special-header {
  display: flex;
  justify-content: space-between;
}

.special-header section {
  display: flex;
  gap: 0.5rem;
}

.special-row {
  display: flex;
  gap: 0 1rem;
  flex-wrap: wrap;
}

.special-row.center {
  justify-content: center;
}
.special-row .comment {
  min-width: 100%;
}

.special-row .mat-form-field {
  width: 394px;
}

.multi {
  display: flex;
  width: 394px;
  justify-content: space-between;
  gap: 1rem;
}

.multi mat-form-field {
  min-width: 48% !important;
}

.multi mat-form-field.unit {
  min-width: 25% !important;
}

.multi mat-form-field.full-width {
  min-width: 70% !important;
}

.r-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
