<div class="container-fluid px-0">

  <div class="page-title action-btn mt-3">
    <div class="flt-btn-group">
      <button class="btn filt-btn" matTooltip="SAVE" (click)="Save()">
        <mat-icon>save</mat-icon>
      </button>
      <button *ngIf="EDIT" id="clear" class="btn filt-btn" matTooltip="CLEAR" (click)="Clear()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="row mb-3 mx-0">
    <div class="col-md-3">
      <div class="pm-profile-data">
        <label class="pm-profile-icon" for="PicInput" style="border-radius: 160px !important;">
          <img [src]="ProfileUplaodURL" (error)="setDefaultPic4()" class="img-fluid" alt="">
        </label>
        <div class="pm-pro-info">
          <input type="file" id="PicInput" class="btn bm-up-btn d-none" title="Change Profile Picture"
            (change)="ProPicChanged($event)">
        </div>
      </div>
      <p class="dym-field">{{Name}}</p>
      <p class="dym-field-email">{{EmailId}}</p>
      <div *ngIf="SupplierList.length != 0" class="table-supplierdiv">
        <table class="table-supplier table-scroll small-first-col">
          <thead>
            <tr>
              <th style="height: 10mm;margin: 0;padding: 9px;text-align: center;">
                Supplier Name
              </th>
            </tr>
          </thead>
          <tbody class="body-half-screen">
            <tr *ngFor="let country of SupplierList">
              <td>{{country.Name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-9 ">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Detail">
          <ng-template mat-tab-label>
            Detail
          </ng-template>
          <div class="row mt-3 mx-0">
            <div class="col-md-6 suc-input">
              <mat-form-field appearance="outline">
                <mat-label>FirstName</mat-label>
                <input matInput placeholder="Company Name" #CMPANYID (blur)="GetClientId()" [(ngModel)]="NAME">
              </mat-form-field>
            </div>
            <div class="col-md-6 suc-input">
              <mat-form-field appearance="outline">
                <mat-label>BrokerID</mat-label>
                <input matInput placeholder="BrokerID" [(ngModel)]="CLIENTID" disabled>
              </mat-form-field>
            </div>
            <div class="col-md-6 suc-input">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <mat-form-field appearance="outline">
                    <mat-label>Country Code</mat-label>
                    <mat-select disableRipple [formControl]="Mob1CODE" [(ngModel)]="MOB1" disableOptionCentering>
                      <mat-option *ngFor="let country of mobile1List" [value]="country.ConCodeName">
                        {{country.ConCodeName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-8">
                  <mat-form-field appearance="outline">
                    <mat-label>Mobile 1</mat-label>
                    <input matInput placeholder="Company Name" [(ngModel)]="MOB1VAL"
                      onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45 || event.charCode == 189 || event.charCode == 46)'>
                  </mat-form-field>

                </div>
                <div class="col-md-1 px-0">
                  <mat-checkbox [(ngModel)]="WHATSAPP1"></mat-checkbox>
                </div>
              </div>
            </div>
            <div class="col-md-6 suc-input">
              <div class="row align-items-center">
                <div class="col-md-3 ">
                  <mat-form-field appearance="outline">
                    <mat-label>Country Code</mat-label>
                    <mat-select disableRipple [formControl]="Mob2CODE" [(ngModel)]="MOB2" disableOptionCentering>
                      <mat-option *ngFor="let country of mobile2List" [value]="country.ConCodeName">
                        {{country.ConCodeName}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-8">
                  <mat-form-field appearance="outline">
                    <mat-label>Mobile 2</mat-label>
                    <input matInput placeholder="Company Name" [(ngModel)]="MOB2VAL"
                      onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45 || event.charCode == 189 || event.charCode == 46)'>
                  </mat-form-field>

                </div>
                <div class="col-md-1 px-0">
                  <mat-checkbox [(ngModel)]="WHATSAPP2"></mat-checkbox>
                </div>
              </div>
            </div>
            <div class="col-md-6  suc-input">
              <mat-form-field appearance="outline">
                <mat-label>Email 1</mat-label>
                <input matInput placeholder="Spouse Name" (change)="validEmailcheck('EMAIL1')" [(ngModel)]="EMAIL1">
              </mat-form-field>
            </div>
            <div class="col-md-6  suc-input">
              <mat-form-field appearance="outline">
                <mat-label>Email 2</mat-label>
                <input matInput placeholder="Spouse Name" (change)="validEmailcheck('EMAIL2')" [(ngModel)]="EMAIL2">
              </mat-form-field>
            </div>
            <div class="col-md-6 suc-input">
              <div class="row">
                <div class="col-md-9">
                  <mat-form-field appearance="outline">
                    <mat-label>PAN</mat-label>
                    <input matInput placeholder="Pan No." [(ngModel)]="PAN">
                  </mat-form-field>
                </div>
                <div class="col-md-1 px-0">
                  <label class="fu-btn" for="PicInput99">
                    <input #paninput type="file" id="PicInput99" class="btn bm-up-btn d-none" title="Change Pan Picture"
                      (change)="PanPicChanged($event)">
                    <i class="icon-Upload-Images"></i>
                  </label>
                </div>
                <div class="col-md-2 pr-0">
                  <div class="pm-profile-icon" (click)="OPENIMAGE(mymodal,'PAN')">
                    <a href="javascript:void(0)">
                      <img [src]="PanfileUplaodURL" alt="./../../../assets/images/No-Image.jpg"
                        (error)="setDefaultPic3()" class="img-fluid">
                    </a>
                  </div>
                  <button class="fc-icon-x btn filt-btn" mat-mini-fab color="primary"
                    (click)="delete('pan', paninput)">x</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 suc-input">
              <div class="row">
                <div class="col-md-9">
                  <mat-form-field appearance="outline">
                    <mat-label>GST</mat-label>
                    <input matInput placeholder="Gst No." [(ngModel)]="GST">
                  </mat-form-field>
                </div>
                <div class="col-md-1 px-0">
                  <label class="fu-btn" for="PicInput88">
                    <input #gstinput type="file" id="PicInput88" class="btn bm-up-btn d-none" title="Change Gst Picture"
                      (change)="GstPicChanged($event)">
                    <i class="icon-Upload-Images"></i>
                  </label>
                </div>
                <div class="col-md-2 pr-0">
                  <div class="pm-profile-icon" (click)="OPENIMAGE(mymodal,'GST')">
                    <a href="javascript:void(0)">
                      <img (error)="setDefaultPic2()" alt="./../../../assets/images/No-Image.jpg"
                        [src]="GstfileUplaodURL" class="img-fluid">
                    </a>
                  </div>
                  <button class="fc-icon-x btn filt-btn" mat-mini-fab color="primary"
                    (click)="delete('gst', gstinput)">x</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 suc-input">
              <div class="row">
                <div class="col-md-9">
                  <mat-form-field appearance="outline">
                    <mat-label>PHOTOID</mat-label>
                    <input matInput placeholder="PhotoId No." [(ngModel)]="PHOTOID">
                  </mat-form-field>
                </div>
                <div class="col-md-1 px-0">
                  <label class="fu-btn" for="PicInput77">
                    <input #PhotoIdinput type="file" id="PicInput77" class="btn bm-up-btn d-none"
                      title="Change PhotoId Picture" (change)="PhotoIdPicChanged($event)">
                    <i class="icon-Upload-Images"></i>
                  </label>
                </div>
                <div class="col-md-2 pr-0">
                  <div class="pm-profile-icon" (click)="OPENIMAGE(mymodal,'PHOTOID')">
                    <a href="javascript:void(0)">
                      <img (error)="setDefaultPic1()" alt="./../../../assets/images/No-Image.jpg"
                        [src]="PhotoIdfileUplaodURL" class="img-fluid">
                    </a>
                  </div>
                  <button class="fc-icon-x btn filt-btn" mat-mini-fab color="primary"
                    (click)="delete('PhotoId', PhotoIdinput)">x</button>
                </div>
              </div>
            </div>

          </div>
        </mat-tab>
        <mat-tab label="Address">
          <ng-template mat-tab-label>
            Address
          </ng-template>


          <div class="pm-pro-d">
            <h3>Address: Office</h3>
          </div>
          <div class="row mt-3">
            <div class="col-md-6 suc-input">
              <mat-form-field appearance="outline">
                <mat-label>Plot/Office No.</mat-label>
                <input matInput placeholder="Plot/Office No." [(ngModel)]="PLOTNO">
              </mat-form-field>
            </div>
            <div class="col-md-6 suc-input">
              <mat-form-field appearance="outline">
                <mat-label>Society/Apartment</mat-label>
                <input matInput placeholder="Society/Apartment" [(ngModel)]="OFFSOS">
              </mat-form-field>
            </div>
            <div class="col-md-6  suc-input">
              <mat-form-field appearance="outline">
                <mat-label>Road</mat-label>
                <input matInput placeholder="Road" [(ngModel)]="OFFROAD">
              </mat-form-field>
            </div>
            <div class="col-md-6 suc-input">
              <mat-form-field appearance="outline">
                <mat-label>Area</mat-label>
                <input matInput placeholder="Area" [(ngModel)]="OFFAREA">
              </mat-form-field>
            </div>
            <div class="col-md-6  suc-input">
              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select disableRipple
                  (selectionChange)="OffcountryChanged();getoffcountry($event.source.triggerValue);"
                  [(ngModel)]="OFFCOUNTRY" disableOptionCentering>
                  <mat-option *ngFor="let country of OffCountryFill" [value]="country.CON_CODE">
                    {{country.CON_NAME}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 suc-input">
              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <mat-select disableRipple (selectionChange)="OffstateChanged();getoffstate($event.source.triggerValue);"
                  [(ngModel)]="OFFSTATE" disableOptionCentering>
                  <mat-option *ngFor="let State of OffStateFill" [value]="State.REG_CODE">
                    {{State.REG_NAME}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 suc-input">
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <mat-select disableRipple (selectionChange)="OffCityChanged();getoffcity($event.source.triggerValue);"
                  [(ngModel)]="OFFCITY" disableOptionCentering>
                  <mat-option *ngFor="let City of OffCityFill" [value]="City.CITY_CODE">
                    {{City.CITY_NAME}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6 suc-input">
              <mat-form-field appearance="outline">
                <mat-label>Zip-Code</mat-label>
                <mat-select disableRipple [(ngModel)]="OFFZIP" disableOptionCentering>
                  <mat-option *ngFor="let Zip of OffZIPFill" [value]="Zip.ZIP_CODE">
                    {{Zip.ZIP_CODE}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6  suc-input">
              <div class="row align-items-center">
                <div class="col-md-3 ">
                  <button class="btn act-btn" matTooltip="Click For Set Location" (click)="RegSetLocation('OFF')">Set
                    Location</button>
                </div>
                <div class="col-md-9 ">
                  <mat-form-field appearance="outline">
                    <mat-label>Map Link</mat-label>
                    <input matInput placeholder="Map Link" [(ngModel)]="OFFLiveLoc">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-6  suc-input">
              <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="OFFPHONE"
                  onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45 || event.charCode == 189 || event.charCode == 46)'>
              </mat-form-field>
            </div>
          </div>
          <div class="pm-pro-d mt-3">
            <h3>Address: Residence</h3>
          </div>
          <div class="row  suc-input mt-3">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Flat/House No.</mat-label>
                <input matInput placeholder="Flat/House No." [(ngModel)]="FLATNO">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Society/Apartment</mat-label>
                <input matInput placeholder="Society/Apartment" [(ngModel)]="RESSOS">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Road</mat-label>
                <input matInput placeholder="Road" [(ngModel)]="RESROAD">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Area</mat-label>
                <input matInput placeholder="Area" [(ngModel)]="RESAREA">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <mat-select disableRipple
                  (selectionChange)="RescountryChanged();getrescountry($event.source.triggerValue);"
                  [(ngModel)]="RESCOUNTRY" disableOptionCentering panelClass="myselect">
                  <mat-option *ngFor="let country of ResCountryFill" [value]="country.CON_CODE">
                    {{country.CON_NAME}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <mat-select disableRipple (selectionChange)="ResstateChanged();getresstate($event.source.triggerValue);"
                  [(ngModel)]="RESSTATE" disableOptionCentering panelClass="myselect">
                  <mat-option *ngFor="let State of ResStateFill" [value]="State.REG_CODE">
                    {{State.REG_NAME}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <mat-select disableRipple (selectionChange)="ResCityChanged();getrescity($event.source.triggerValue);"
                  [(ngModel)]="RESCITY" disableOptionCentering panelClass="myselect">
                  <mat-option *ngFor="let City of ResCityFill" [value]="City.CITY_CODE">
                    {{City.CITY_NAME}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Zip-Code</mat-label>
                <mat-select disableRipple [(ngModel)]="RESZIP">
                  <mat-option *ngFor="let Zip of ResZIPFill" [value]="Zip.ZIP_CODE" disableOptionCentering
                    panelClass="myselect">
                    {{Zip.ZIP_CODE}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <div class="row align-items-center">
                <div class="col-md-3 ">
                  <button class="btn act-btn" matTooltip="Click For Set Location" (click)="RegSetLocation('RES')">Set
                    Location</button>
                </div>
                <div class="col-md-9 ">
                  <mat-form-field appearance="outline">
                    <mat-label>Map Link</mat-label>
                    <input matInput placeholder="Map Link" [(ngModel)]="RESLiveLoc">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" [(ngModel)]="RESPHONE"
                  onkeypress='return ((event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45 || event.charCode == 189 || event.charCode == 46)'>
              </mat-form-field>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-body text-center modal-img-holder">
    <img [src]="ModelImage" (error)="setDefaultPic()" class="img-fluid mx-auto"
      alt="./../../../assets/images/No-Image.jpg">
  </div>
  <div class="modal-footer">
    <button id="Close" type="button" class="btn btn-outline-dark" matTooltip="CLOSE"
      (click)="modal.close('Cross click')">Close</button>
  </div>
</ng-template>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#934d4d" type="none">
  <div class="la-ball-scale-ripple-multiple la-2x">
    <div></div>
    <div></div>
    <div></div>
  </div>
</ngx-spinner>
